@media screen and (max-width: 1200px) {
    ul#main-menu {
        margin-left: 0px !important;
    }
    #slider-header {
        display: none;
    }
    #form {
        position: absolute;
        right: 40%;
        top: 20px;
    }
    nav.navbar {
        padding-right: 0px;
    }
    /* #sub-menu2 #my2 #drop-menu2 {
        left: 0px;
        top: 0px;
    } */
}

@media screen and (max-width: 675px) {
    #drop-menu2 {
        left: 0;
        position: static;
        border: none;
        display: block;
        list-style-type: square;
        margin-left: 20%;
    }
    #drop-menu {
        width: 100%;
    }
}